body{
    background-color: #1b1b1b;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #191919;
    color: white;
}

.left img {
    max-height: 50px; /* Adjust as needed */
}

.right {
    display: flex;
    align-items: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 15px;
}

.navbar li a {
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.menu-icon {
    display: none; /* Initially hidden on larger screens */
    cursor: pointer;
}

/* .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
} */

#launchAppButton {
    padding: 10px 20px;
    background-color: rgb(255, 0, 122);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#launchAppButton:hover {
    background-color: rgb(232, 2, 113);
}

@media screen and (max-width: 768px) {
    .right {
        display: none; /* Hide navbar links on smaller screens */
    }

    .menu-icon {
        display: block; /* Show menu icon on smaller screens */
    }

    .navbar.active { /* Add .active class to show navbar */
        display: block;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%; /* Position below the header */
        left: 0;
        width: 100%;
    }

    .navbar.active li {
        margin: 0; /* Remove margin to avoid extra space */
        text-align: center; /* Center align the menu items */
    }

    .navbar.active li a {
        display: block; /* Make menu items full width */
        padding: 10px 0; /* Add padding for better touch experience */
    }
}

.container {
    text-align: left;
    position: absolute;
    bottom: 90px; /* Adjust as needed */
    left: 54px; /* Adjust as needed */
    padding: 26px;
    font-family: inherit;
    color: white;
}

.container h1 {
    font-size: 56px;
    margin-bottom: 10px;
}

.container p {
    width: 90%;
    font-size: 30px;
    margin: 0;
}
